* {
    box-sizing: border-box;
}

.difficulity {
    background-color: gold;
    margin: 15px;
    display: inline-block;
    padding: 12px;
}

/*with only margin this doesnt have display:inline-block, while adding it, it changes the whole perspective*/

.difficulity.easy {
    color: green;
}

.difficulity.moderate {
    color: orange;
}

.difficulity.hard {
    color: red;
}

.trail {
    padding: 20px;
    border: solid 2px black;
    max-width: 650px;
    margin: 0 auto;
    background-color: khaki;
}

h3 {
    border-bottom: solid 1px black;
    padding-bottom: 8px;
}


li {
    border-bottom: solid 2px green;
    color: lightcoral;
    border: 1px solid black;
    padding: 6px;
    margin: 2px;

}

.nav {
    display: inline-block;
    margin-right: 20px;

}

li.essential {
    color: black;
}

/* this one gives a specific line color black as it has it's own class */


img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

p.tip {
    color: red;
}

p#important {
    color: coral;
}

.button {
    display: inline-block;
    padding: 4px;
    background-color: mediumvioletred;
    border: solid 2px;
    color: black;
    text-decoration: none;
}

.button:hover {
    background-color: darkviolet;
}

.quanity {
    color: aqua;
    background-color: black;
}